{% extends 'project.html' %}
{% load staticfiles %}
{% load mytags  %}
{% block css %}<link rel="stylesheet" href="{% static 'css/project.css' %}" type="text/css" />{% endblock %}
{% block content %}
<section class="background">
	<img src="{% static 'img/project/ttp/top.jpg'%}"/>
</section>
<section class="project-fp">
	<div class="menu-left flt">
		<dl>
			<a  href="ttp">海外试管婴儿</a>
			<a class="active">海外生育保存</a>
			<a href="laboratory">海外第三方助孕</a>
		</dl>
	</div>
	<div class="content-right flt">
		<p>
云荷廷海外医院实验室为您开设精子冷冻服务、卵子冷冻及胚胎冷冻服务。
</p><p>精子冷冻
</p><p>精子冷冻是将精子保存在零下196摄氏度的液氮罐中，精子冷冻可以采用液氮蒸气法和计算机控制速率慢速冷冻两种方法，前者是将迅速降低温度，一般是在液态氮蒸汽中蒸泡8－30分钟，然后直接放入液态氮中保存，后者是使用计算机分步冷却，这两种方法都可以将精子保存10年以上。这项服务适合以下客户：
</p><p>癌症或肿瘤患者须接受放射性治疗，可以在治疗前将精液冷冻保存。在美国，大约有80万处于生育年龄的男性和女性癌症患者，我国患者数可能更高。多数放射性治疗方法成功率高，然而这些治疗可能会破坏精子（或者女性的卵子），从而降低生育能力
</p><p>男性病毒感染如艾滋病正在接受抗逆转录病毒药物治疗，一旦经检查发现精液中没有病毒，就会进行冷冻保存
</p><p>男性做绝育手术或变性手术，可提前将精子冷冻起来，以备不时之需
</p><p>夫妇双方实施试管婴儿，男方不能在女方取卵当天采集到精液，可以提前采集冷冻保存
</p><p>男方通过手术取精，将此次ICSI剩余的精子进行冷冻，以减少手术取精次数。
</p><p>卵子和胚胎冷冻
</p><p>卵子和胚胎冷冻相比于精子冷冻更为复杂，因为与卵母细胞或胚胎干细胞相比，精子细胞体型较小，不饱和脂肪酸含量大，细胞膜温度大，可以抵抗快速降温带来的破坏。
</p><p>卵子和胚胎通常采用慢速冷冻和玻璃化冷冻两种方式，慢速冷冻是通过慢速平衡降温的方式冷冻，玻璃化冷冻是目前颇受欢迎的方法，采用快速降温的方法，使卵子、胚胎和冷冻保护剂形成玻璃状固定。快速降温可避免冻伤卵子，以及在液体组织形成玻璃状固体的过程中没有冰晶产生，使囊胚阶段的胚胎存活率高于第一种冷冻方式。
</p><p>卵泡是卵巢的功能单位，按发育阶段分为始基卵泡、窦前卵泡、窦卵泡和成熟卵泡4个阶段。女婴出生时的始基卵泡数量约为100万－200万个，最终能够发育成熟并排卵的约400个。育龄期的女性，卵巢每月排出一个成熟的卵子，排卵日期在下次月经来潮前的14天左右。
</p><p>与男性的精子不同，女性的卵子与生俱来，在23－30岁活性最强，品质最好。这主要得益于此年龄段的卵巢功能正处于鼎盛期，对卵子的滋养作用很大。女性生育能力比男性更容易受年龄的影响，女性30岁以后卵巢功能开始滑坡，遭受环境有害物质的侵袭机会也随之增多，35岁后，卵子质量显著下降，有大量的染色体缺陷将会积聚在卵子中，导致生育能力的迅速下降，由此造成的不孕、流产、早产以及胎儿畸形的风险成倍增长。
</p><p>卵子冷冻技术为那些想要在身体状况良好时保存生育能力提供了选择，但还有很多女性拖延到40岁才开始冷冻卵子，那时候的卵子质量早已开始下降。云荷廷海外生殖专家提醒，冷冻须趁早，不要错过了卵子最佳“保质期”而抱憾终生。
</p><p>卵子冷冻适合以下客户：
</p><p>需要接受癌症等放射性治疗的患者，与上述男性患者冻精一样，提前保存好生育能力，以避免治疗带来的生育伤害
</p><p>由于各种原因暂时不想或不能生育的年轻女性，可在年轻时把高质量的卵子储存起来
胚胎冷冻适合以下客户：
</p><p>试管周期中未移植完的健康胚胎。在培育试管婴儿过程中，受精的胚胎会被放入合适的体外环境中进行培养，此后，取1－3个胚胎移植到母亲子宫腔内，等待怀孕，没有移植的健康胚胎可以选择冷冻保存，以备下次移植
		</p>
	</div>
	<br class="cb"/>
</section>
{% endblock %}