{% extends 'base.html' %}
{% load staticfiles %}
{% load mytags  %}
{% block css %}<link rel="stylesheet" href="{% static 'css/fee.css' %}" type="text/css" />{% endblock %}
{% block js %}
<script src="{% static 'js/echarts.simple.min.js' %}"></script>
<script>
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('chart'));
	// 指定图表的配置项和数据
	var option = {
		tooltip: {
			trigger: 'item',
			formatter: "{a} <br/>{b}: {c} ({d}%)"
		},
		legend: {
			orient: 'vertical',
			x: 'left',
			data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
		},
		series: [
			{
				name:'访问来源',
				type:'pie',
				radius: ['50%', '70%'],
				avoidLabelOverlap: false,
				label: {
					normal: {
						show: false,
						position: 'center'
					},
					emphasis: {
						show: true,
						textStyle: {
							fontSize: '30',
							fontWeight: 'bold'
						}
					}
				},
				labelLine: {
					normal: {
						show: false
					}
				},
				data:[
					{value:60, name:'医疗费用'},
					{value:10, name:'住宿费用'},
					{value:10, name:'餐饮费用'},
					{value:10, name:'其它费用'},
					{value:10, name:'服务费用'}
				]
			}
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
{% endblock %}
{% block content %}
<section class="background" id="pro1">
	<img src="{% static 'img/index/top.jpg'%}"/>
</section>
<section class="chart">
	<div class="data" id="chart"></div>
	<div class="text">
		<h3>医疗费用说明</h3>
		<p>
云荷廷试管费用主要包含医院的医疗费用、海外的住宿费用、海外的饮食费用、海外用车、陪同、翻译等费用，以及我们的服务费用，以下有部分套餐内容供您参考，因个体情况差异，产生的费用也不同，详细套餐请在线或致电联系我们的咨询顾问。
		</p>
	</div>
</section>
<section class="fee" id="pro2">
	<div class="menu"><span class="one">套餐项目</span><span class="two">套餐费用</span></div>
	<dl class="list" id="pro3">
		<dt class="jui-only-show" jui-click="only-show" jui-tar=".text .title">
			<div class="text">
				<span class="abstr">泰国试管婴儿翻译吃住套餐 ￥6.8万</span>
				<span class="title">泰国试管婴儿翻译吃住套餐</span>
			</div>
			<div class="detail jui-show">
				<h3>泰国试管婴儿翻译吃住套餐 ￥6.8万</h3>
				<dl>
					<dt class="red">咨询阶段</dt>
					<dt>1.  专业咨询顾问全程一对一咨询服务（无限次电话沟通）</dt>
					<dt>2.  协助客户在国内做试管婴儿前的体检</dt>
					<dt>3.  呈送体检报告给泰国资深医生做初步评估</dt>
					<dt>4.  预约泰国资深生殖医院及医生</dt>
					<dt class="red">准备阶段</dt>
					<dt>5.  协助办理签证、代买机票</dt>
					<dt>6.  曼谷机场到酒店专车往返接送服务</dt>
					<dt>7.  赠送本地电话卡一张，含无限上网流量，方便与家人联系</dt>
					<dt class="red">泰国柬埔寨IVF疗程阶段</dt>
					<dt>8.  全周期约见医生及治疗陪同翻译服务，疗程期间资深医务翻译陪同建立IVF诊疗档案、办理疗程期间医疗手续（医务翻译精通中英泰文）</dt>
					<dt>9.  26天泰国酒店型公寓/别墅或柬埔寨酒店住宿服务（房间舒适温馨，厨房餐具齐全、独立卫生间、有线中文电视，无线网络）</dt>
					<dt>10. 26天高级厨师健康营养饮食供应，饮食以营养清淡为主，根据疗程中所需补充的营养搭配</dt>
					<dt>11. 24小时生活热线，协助处理突发、紧急情况</dt>
					<dt>12. 逛街、购物、旅游等生活指导陪同服务</dt>
					<dt class="red">回国阶段</dt>
					<dt>13. 回国后全程电话跟踪，提供孕期健康指导服务</dt>
					<dt>14. 怀孕期间健康检查咨询解答、产后康复疗养建议</dt>
					<dt class="red">标准周期外独立发生和计费的项目</dt>
					<dt>1. 去泰国的签证和往返机票费用</dt>
					<dt>2. 泰国试管婴儿疗程期间套餐外的住宿、饮食、交通和翻译费用</dt>
					<dt>3. 如需陪同人员陪同的服务费用及机票费用</dt>
					<dt>4. 购物、旅游费用自理</dt>
				</dl>
			</div>
		</dt>
		<dt class="jui-only-show" jui-click="only-show" jui-tar=".text .title">
			<div class="text">
				<span class="abstr">泰国试管婴儿VIP套餐17.8万人民币</span>
				<span class="title">泰国试管婴儿VIP套餐</span>
			</div>
			<div class="detail jui-show">
				<h3>泰国试管婴儿VIP套餐17.8万人民币</h3>
				<dl>
					<dt class="red">咨询阶段</dt>
					<dt>1.  专业咨询顾问全程一对一咨询服务（无限次电话沟通）</dt>
					<dt>2.  协助客户在国内做试管婴儿前的体检</dt>
					<dt>3.  呈送体检报告给泰国资深医生做初步评估</dt>
					<dt>4.  预约泰国资深生殖医院及医生</dt>
					<dt class="red">准备阶段</dt>
					<dt>5.  办理双方赴泰签证各一次</dt>
					<dt>6.  夫妻双方居住地至泰国曼谷往返机票1次（经济舱，往返不超过3000元/人标准）</dt>
					<dt>7.  曼谷机场到酒店专车往返接送服务</dt>
					<dt>8.  赠送本地电话卡一张，含无限上网流量，方便与家人联系</dt>
					<dt class="red">泰国IVF疗程阶段</dt>
					<dt>9.  全周期约见医生及治疗陪同翻译一对一服务，疗程期间资深医务翻译陪同建立IVF诊疗档案、办理疗程期间医疗手续（医务翻译精通中英泰文）</dt>
					<dt>10.  试管婴儿常规治疗服务项目：</dt>
					<dt class="i">√ &nbsp;&nbsp;疗程期间的女性身体检查，女性子宫及卵巢的超生波检查，女性抗穆勒式激素AMH检查，血液检查</dt>
					<dt class="i">√ &nbsp;&nbsp;促卵泡药物注射含药费（保妊康、果纳芬等）</dt>
					<dt class="i">√ &nbsp;&nbsp;手术室取卵麻醉及手术费用</dt>
					<dt class="i">√ &nbsp;&nbsp;精液生化分离及处理（男方自取精子于精液容器）</dt>
					<dt class="i">√ &nbsp;&nbsp;休外授精IVF</dt>
					<dt class="i">√ &nbsp;&nbsp;PGD/PGS胚胎植入前遗传学诊断、全面染色体筛查费用（含8个胚胎筛选）</dt>
					<dt class="i">√ &nbsp;&nbsp;胚胎植入母体的移植费用</dt>
					<dt class="i">√ &nbsp;&nbsp;帮助胚胎着床药物费用</dt>
					<dt class="i">√ &nbsp;&nbsp;HCG抽血验孕费用</dt>
					<dt>11. 26天国际五星级酒店公寓－Marriott或同级别酒店住宿服务（酒店提供双人早餐、无线上网、有线电视、每日英文报纸、一个安全停车位、免费使用酒店健身设施）</dt>
					<dt>12. 26天健康营养饮食供应，饮食以营养清淡为主，根据疗程中所需补充的营养搭配</dt>
					<dt>13. 提供夫妻双方价值29800元世界级排毒助孕理疗服务，帮助女性放松心情、男性提高精子活力</dt>
					<dt>14. 逛街、购物、旅游等生活指导陪同服务</dt>
					<dt>15. 24小时生活热线，协助处理突发、紧急情况</dt>
					<dt>16. 若逗留超一个月，提供签证延期办理服务</dt>
					<dt class="red">回国阶段：</dt>
					<dt>17. 回国后全程电话跟踪，提供孕期健康指导服务</dt>
					<dt>18. 怀孕期间健康检查咨询解答、产后康复疗养建议</dt>
					<dt class="red">标准周期外独立发生和计费的项目</dt>
					<dt>1. 试管婴儿套餐外的医疗费用，ICSI单精子注射的费用（如需要）、PESA/TESE手术取精费用（如需要）、孵化费用（如需要）、精子、卵子、胚胎冷冻费用，子宫肌瘤等手术费用（如需要），验孕后的安胎费用</dt>
					<dt>2. 试管婴儿疗程期间套餐外的住宿、饮食、交通和翻译费用</dt>
					<dt>3. 如需陪同人员陪同的服务费用及机票费用</dt>
					<dt>4. 购物、旅游费用自理</dt>
				</dl>
			</div>
		</dt>
		<dt class="jui-only-show" jui-click="only-show" jui-tar=".text .title">
			<div class="text">
				<span class="abstr">美国试管婴儿套餐2.8万美金</span>
				<span class="title">美国试管婴儿套餐</span>
			</div>
			<div class="detail jui-show">
				<h3>美国试管婴儿套餐2.8万美金</h3>
				<dl>
					<dt class="i">√ &nbsp;&nbsp;疗程期间的女性身体检查，女性子宫及卵巢的超生波检查，女性抗穆勒式激素AMH检查，血液检查</dt>
					<dt class="i">√ &nbsp;&nbsp;促卵泡药物注射含药费（保妊康、果纳芬等）</dt>
					<dt class="i">√ &nbsp;&nbsp;手术室取卵麻醉及手术费用</dt>
					<dt class="i">√ &nbsp;&nbsp;精液生化分离及处理（男方自取精子于精液容器）</dt>
					<dt class="i">√ &nbsp;&nbsp;休外授精IVF</dt>
					<dt class="i">√ &nbsp;&nbsp;PGD/PGS胚胎植入前遗传学诊断、全面染色体筛查费用（含8个胚胎筛选）</dt>
					<dt class="i">√ &nbsp;&nbsp;胚胎植入母体的移植费用</dt>
					<dt class="i">√ &nbsp;&nbsp;帮助胚胎着床药物费用</dt>
					<dt class="i">√ &nbsp;&nbsp;HCG抽血验孕费用</dt>
					<dt class="red">不包含：</dt>
					<dt class="i">√ &nbsp;&nbsp;8个胚胎后的PGS筛选费</dt>
					<dt class="i">√ &nbsp;&nbsp;每年续约的冷冻存储费</dt>
					<dt class="i">√ &nbsp;&nbsp;诊所之外的检查费用</dt>
					<dt class="i">√ &nbsp;&nbsp;胚胎移植后的药物费用</dt>
				</dl>
			</div>
		</dt>
	</dl>
</section>

{% endblock %}