content section.project {
  margin-bottom: 1.12rem;
}
content section.project dl dt {
  margin-top: 0.38rem;
  position: relative;
  height: 3.3rem;
}
content section.project dl dt img {
  height: 100%;
  width: 5.62rem;
}
content section.project dl dt .text {
  width: 3.94rem;
  position: relative;
  height: 2.7rem;
  background: #f9f9f9;
  padding: 0.3rem 0.16rem;
}
content section.project dl dt .text h3 {
  font-size: 0.22rem;
  font-weight: 500;
  color: #008fd3;
  line-height: 0.46rem;
}
content section.project dl dt .text p {
  font-size: 0.13rem;
  line-height: 0.22rem;
}
content section.project dl dt .text .more {
  position: absolute;
  top: 2.5rem;
  text-align: center;
  width: 100%;
}
content section.project dl dt .text .more a {
  display: inline-block;
  background: #008fd5;
  color: #ffffff;
  width: 1.76rem;
  line-height: 0.46rem;
  text-align: center;
  font-size: 0.17rem;
  cursor: pointer;
}
content section.project dl dt.one .text {
  position: absolute;
  right: 0%;
  top: 0%;
}
content section.project dl dt.two img {
  position: absolute;
  right: 0%;
  top: 0%;
}
content section.project-fp .menu-left {
  margin-top: 0.28rem;
  margin-left: 0.26rem;
}
content section.project-fp .menu-left dl {
  width: 1.94rem;
  height: 2.56rem;
  border-right: 0.01rem solid #dddddd;
  font-size: 0.16rem;
}
content section.project-fp .menu-left dl a {
  display: block;
  position: relative;
  text-indent: 0.13rem;
  cursor: pointer;
  margin-bottom: 0.28rem;
  color: #333333;
}
content section.project-fp .menu-left dl a.active:before {
  content: '';
  position: absolute;
  width: 0.07rem;
  height: 0.07rem;
  border-radius: 50%;
  background: #41ace0;
  top: 0.08rem;
  left: 0;
}
content section.project-fp .content-right {
  width: 7.7rem;
  margin-top: 0.16rem;
  margin-left: 0.78rem;
}
content section.project-fp .content-right h2 {
  color: #008dd4;
  line-height: 0.48rem;
  font-size: 0.29rem;
  font-weight: 100;
}
content section.project-fp .content-right p {
  position: relative;
  text-indent: 0.15rem;
  line-height: 0.24rem;
  color: #666666;
  margin-bottom: 0.26rem;
}
content section.project-fp .content-right p.active:before {
  content: '';
  position: absolute;
  width: 0.09rem;
  height: 0.09rem;
  border-radius: 50%;
  background: #fdc100;
  top: 0.08rem;
  left: 0;
}
content section.project-fp .content-all {
  margin-top: 0.4rem;
  margin-bottom: 7rem;
}
content section.project-fp .content-all h2 {
  color: #008dd4;
  line-height: 0.48rem;
  font-size: 0.29rem;
  font-weight: 100;
  margin-bottom: 0.26rem;
  text-align: center;
}
content section.project-fp .content-all p {
  position: relative;
  text-indent: 0.15rem;
  line-height: 0.24rem;
  color: #666666;
  margin-bottom: 0.26rem;
}
content section.project-fp .yht-button {
  font-size: 0.18rem;
  text-align: center;
  margin-bottom: 4.8rem;
}
content section.project-fp .yht-button a {
  display: inline-block;
  background: #008fd5;
  color: #ffffff;
  padding: 0.14rem 0.26rem;
}
