content section.knowledge .list {
  position: relative;
}
content section.knowledge .list dl {
  width: 4.86rem;
}
content section.knowledge .list dl dt h3 {
  font-size: 0.15rem;
  line-height: 0.48rem;
  cursor: pointer;
}
content section.knowledge .list dl dt h3 .atc-icon {
  display: inline-block;
  width: 0.12rem;
  height: 0.12rem;
  border-bottom: 0.02rem solid #ffdf2e;
  border-left: 0.02rem solid #ffdf2e;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  margin-right: 0.12rem;
  position: relative;
  top: 0.01rem;
}
content section.knowledge .list dl dt p {
  font-size: 0.12rem;
  color: #666666;
  line-height: 0.28rem;
  display: none;
}
content section.knowledge .list dl dt.active h3 {
  color: #018fd7;
}
content section.knowledge .list dl dt.active h3 .atc-icon {
  border-bottom: 0.02rem solid #018fd7;
  border-left: 0.02rem solid #018fd7;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
  top: -0.03rem;
}
content section.knowledge .list dl dt.active p {
  display: block;
}
