{% extends 'base.html' %}
{% load staticfiles %}
{% load mytags  %}
{% block css %}<link rel="stylesheet" href="{% static 'css/knowledge.css' %}" type="text/css" />{% endblock %}
{% block content %}
<section class="background">
	<img src="{% static 'img/knowledge/top.jpg'%}"/>
</section>
<section class="knowledge">
	<div class="list">
		<dl class="flt" jui-click="active" jui-block="dt" jui-tar="h3" jui-only="0">
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
		</dl>
		<dl class="frt" jui-click="active" jui-block="dt" jui-tar="h3" jui-only="0">
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
			<dt>
				<h3><span class="atc-icon"></span> 医疗费用说明</h3>
				<p>医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明医疗费用说明</p>
			</dt>
		</dl>
		<br class="cb"/>
	</div>
</section>
{% endblock %}