{% extends 'project.html' %}
{% load staticfiles %}
{% load mytags  %}
{% block css %}<link rel="stylesheet" href="{% static 'css/project.css' %}" type="text/css" />{% endblock %}
{% block content %}
<section class="background">
	<img src="{% static 'img/project/ttp/top.jpg'%}"/>
</section>
<section class="project-fp">
	<div class="menu-left flt">
		<dl>
			<a href="ttp">海外试管婴儿</a>
			<a href="fp">海外生育保存</a>
			<a class="active">海外第三方助孕</a>
		</dl>
	</div>
	<div class="content-right flt">
		<p>
尽可能地将自己的遗传基因传留下去，这是人的遗传本能。当很多人因为各种原因失去了生育能力，他们的家庭不仅感到异常痛苦，而且很可能面临破碎的结局。相比之下，选择第三方助孕，不仅会实现一个家庭“生”的梦想，还能保护一个家庭的完整。美国有26个州有不同程序上的法律认可，中国的人类辅助生殖技术管理法律也在逐步完善，12月27日刚刚闭幕的十二届全国人大常委会第十八会议，表决通过了关于修改《人口与计划生育法》的决定，2016年1月1日起，中国的独生子女政策彻底宣告结束，表决稿的另一大亮点，对第三方助孕条款采取“先放一放”替代原来的“一禁了之”。
</p><p>
云荷廷生育医疗是业内为数不多的提供多国妊娠志愿者的第三方辅助生殖服务机构。我们为客户提供合法国家的第三方妊娠志愿者，从妊娠志愿者的匹配到律师合同起草、签署、妊娠志愿者孕期管理、妊娠志愿者账户管理、新生儿保险、父母权转移、新生儿回国文件的准备，全程我们都将为客户提供专业服务。我们的美国、俄罗斯项目由于完全合法而最受客户喜爱，不论您是单身、同性恋夫妇或其他情况，我们都能为您个性化定制最合适的第三方妊娠方案。

		</p>
	</div>
	<br class="cb"/>
</section>
{% endblock %}