{% extends 'project.html' %}
{% load staticfiles %}
{% load mytags  %}
{% block css %}<link rel="stylesheet" href="{% static 'css/project.css' %}" type="text/css" />{% endblock %}
{% block content %}
<section class="background">
	<img src="{% static 'img/project/ttp/top.jpg'%}"/>
</section>
<section class="project-fp">
	<div class="menu-left flt">
		<dl>
			<a class="active">海外试管婴儿</a>
			<a href="fp">海外生育保存</a>
			<a href="laboratory">海外第三方助孕</a>
		</dl>
	</div>
	<div class="content-right flt">
		<p>
云荷廷生育医疗为那些有特殊需求的客户提供定制的海外试管婴儿服务，我们的服务范围涵盖美国、泰国、柬埔寨等国家。您可以在目的地国法律法规允许的情况下，自由选择胚胎的性别、自由定制双胞胎、龙凤胎；同时，对于携带有单基因遗传病基因的客户，我们提供胚胎植入前遗传学筛查技术，帮助客户选择不带有致病基因的胚胎进行移植，从根源做到优生优育。
对于已经有患病儿童（比如地中海贫血）的家庭，我们的胚胎遗传学筛查技术能够筛选出和患病儿HLA配型相符的胚胎，已有患病儿的父母可以选择移植配型相符的胚胎，这样新生胎儿出生后的脐带血、提取的干细胞可用于患病儿的治疗等医学用途。
</p><p>
云荷廷海外医院主要为患者提供以下类型的基因筛查服务：
</p><p>PGD－PGS胚胎植入前遗传学诊断与筛查，对早期胚胎的24种染色体进行数目和结构的诊断，分析胚胎是否有遗传物质异常，筛查出异常染色体并能检测出染色体数量是否多出或缺失
</p><p>PGD－CCS全面染色体筛查，是一种基于DNA的基因筛查，可以筛查全部染色体和部分非整倍染色体。我们知道，胚胎有两种细胞形态，内细胞团形成胎儿，外层滋养细胞形成胎盘，CCS技术可以在不破坏内细胞的情况下提取外层滋养层细胞进行检测
</p><p>PGD-NGS 新一代基因测序综合染色体筛查高分辨率地筛选24种染色体的异常情况，能够精确的检测出胚胎的第几号染色体多出或缺失，能够检测出父亲或母亲有染色体易位情况下可能导致出现的非整倍性部分
</p><p>PGD－FISH荧光原位杂交筛查术，是在荧光原位杂交的基础上进行胚胎细胞活检，对人体的常用染色体进行染选，能够检测出染色体非整倍性即DNA异常的胚胎
</p><p>PGD－SNP芯片式单核苷酸多态性筛查，人体基因具有相同的核苷酸序列但仍有个别DNA的某些部分可区别，称为单核苷酸多态性，是人类最常见的遗传变异，SNP可检测全部24种染色体，能够检测出基因或染色体复制的变异
</p><p>PGD-CGH比较基因组杂交技术，人类某些遗传疾病是有选择的在不同性别的后代上遗传，CGH根据遗传特征使用BlueGnome24肯定比较BAC全息图分子技术比较男性和女性胚胎DNA ，控制参考基因组使用微阵列芯片
</p><p>PGD-PCR 聚合酶链式反应，诸如毛发、皮肤或血液中，只要能分离出一丁点的DNA，PCR技术就能将这些微量的DNA放大，进行比对。
云荷廷海外试管专家介绍，在第三代试管婴儿技术中，PGD/FISH、PGD/PGS胚胎移植前基因诊断与筛查是目前比较主流的技术，大家可以在和云荷廷海外医生沟通后，根据自己的实际身体情况来选择适合自己的技术。
		</p>
	</div>
	<br class="cb"/>
</section>
{% endblock %}